<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Roboice</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>

<body>
    <div class="container">
        <h1>Roboice</h1>
        <p>Fecha de la siguiente publicación:
            <%= fecha_siguiente %>
        </p>
        <hr>
        <a href="peliculas">Películas</a>
    </div>
</body>

</html>