<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Roboice</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>

<body>
    <div class="container">
        <h1>Roboice</h1>
        <p>Películas en la base de datos: <%= total %></p>
        <p>Publicadas: <%= publicadas %></p>
        <p>Sin publicar: <%= sinpublicar %></p>
        <hr>
        <p><b>Nueva película</b></p>
        <fieldset>
            <form action="peliculas" method="post">
                <input name="descripcion" type="text" class="ghost-input" placeholder="Título" required>
                <input name="año" type="text" class="ghost-input" placeholder="Año" required>
                <input name="codigo" type="text" class="ghost-input" placeholder="Código" required>
                <input type="submit" class="ghost-button" value="Añadir película">
            </form>
        </fieldset>
        <p><%= mensaje %></p>
        <a href="/">Index</a>
    </div>
</body>

</html>